{% load static %}

<script src="{% static 'jquery/jquery.js' %}" type="text/javacript"></script>
<script src="{% static 'popper/popper.js' %}" type="text/javacript"></script>
<script src="{% static 'bootstrap/bootstrap.js' %}" type="text/javacript"></script>