body{
    background: #f8b195;
}

html{
    scroll-behavior: smooth;
}

.j1{
    background-image: url("/static/img/animebg.png");
    background-size: cover;
    background-position: center;
    height: 1000px;
}

.j2{
    background: #f8b195;
    height: 2000px;
}

.j3{
    background-color: #f67280;
    padding: 50px;
}

.j4{
    background-color: #6c567b;
    padding: 50px;
}

.navbg{
    background-color: #6c567b;
}

.down{
    width: 25px;
    height: 25px;
}

.mek{
    width: 79px;
    height: 51px;
    font-family: Montserrat;
    font-style: italic;
    font-weight: 800;
    font-size: 26px;
    line-height: 32px;
    align-items: right;
    color: black;
}

.welkam{
    font-family: Poppins Semibold;
    font-size: 50px;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.teks1{
    font-family: Montserrat;
    text-decoration-line: underline;
    color: black;
    margin-bottom: 40px;
}

.teks2{
    font-family: Montserrat;
    letter-spacing: 0.02em;
    color: #000000;
    line-height: 160%;
    font-weight: 500;
    font-size: 18px;
}

.card{
    background: transparent;
    border: transparent;
}

.card-header{
    background: transparent;
}

.cb1{
    background: #c06c84;
}

.gambarskill{
    margin: 40px;
    align-self: center;
    width: 180px;
    height: 117px;
}

.judulskill{
    font-family: Montserrat;
    color: black;
    font-weight: 500;
}

.kontenskill{
    font-family: Montserrat;
    color: #000000;
}

.cgt{
    width: 350px;
    height: 245px;
}

.kontak{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 30px;
    letter-spacing: 0.15em;
}

.icon1{
    width: 50px;
    height: 52px;
    margin-left: 17px;
    margin-right: 17px;
}

.icon2{
    width: 44px;
    height: 44px;
    margin-left: 17px;
    margin-right: 17px;
}

.icon3{
    width: 50px;
    height: 50px;
    margin-left: 17px;
    margin-right: 17px;
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 550px) {
.j3 {padding-left: 50px; padding-right: 50px;}
.gambarskill{width: 150px; height: 87px;}
.cgt{width: 350px; height: 245px;}
}
    
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.j3 {padding-left: 100px; padding-right: 100px;}
.gambarskill{width: 160px; height: 97px;}
.cgt{width: 250px; height: 170px;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.j3 {padding-left: 150px; padding-right: 150px;}
.gambarskill{width: 170px; height: 107px;}
.cgt{width: 350px; height: 220px;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.j3 {padding-left: 200px; padding-right: 200px;}
.gambarskill{width: 180px; height: 117px;}
.cgt{width: 450px;height: 270px;}
}
    