body{
    background: #f8b195;
}

html{
    scroll-behavior: smooth;
}

.navbg{
    background-color: #6c567b;
}

.down{
    width: 25px;
    height: 25px;
}

.c1{
    background-color: #F67280;
    padding: 30px;
}

.cb1{
    text-align: start;
}

.mek{
    width: 79px;
    height: 51px;
    font-family: Montserrat;
    font-style: italic;
    font-weight: 800;
    font-size: 26px;
    line-height: 32px;
    align-items: right;
    color: black;
}

.teks1{
    font-family: Akronim;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 91px;
    text-align: center;
    letter-spacing: 0.15em;
    color: #000000;
}

.teks2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    color: #000000;
}

.teks3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 150.4%;
    text-align: center;
    letter-spacing: 0.09em;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 30px;
}

.teks4{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 160.4%;
    letter-spacing: 0.01em;
    color: #000000;
}

.teks5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    color: #000000;
}
