body{
    background-image: url("/static/img/page404.jpg");
    background-size: cover;
    background-position: center;
}


.navbg{
    background-color: #6c567b;
}

.down{
    width: 25px;
    height: 25px;
}

.mek{
    width: 79px;
    height: 51px;
    font-family: Montserrat;
    font-style: italic;
    font-weight: 800;
    font-size: 26px;
    line-height: 32px;
    align-items: right;
    color: black;
}