{% extends "base.html" %}

{% load static %}

{% block loadcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/alfa3.css' %}">
{% endblock loadcss %}
    
{% block itemnav %}
<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a class="nav-link" style="color:black" href="{% url 'homepage:profile' %}">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color:black" href="{% url 'homepage:tambahan' %}">Future</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color:black" href="{% url 'homepage:story1' %}">Story 1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"style="color:black" href="#a">About Me</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color:black" href="#b">Skills</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color:black" href="#c">Experience</a>
  </li>
</ul>
{% endblock itemnav %}

{% block jumbotronwelcome %}
<div class="jumbotron jumbotron-fluid j1">
    <div class="container">
      <h1 class="welkam">WELCOME</h1>
    </div>
  </div>
  
  <br><br>
{% endblock jumbotronwelcome %}

{% block about %}
 <div class="row">
    <div class="container-fluid j3">
      <h2 class="text-center teks1">About Me</h2>
      <p class="text-center teks2">Hello, my name is Michael Eliazer and you can call 
        me Mike. I’m a second year University student who majors 
        in Information System at Universitas Indonesia. I enjoy 
        doing sports and often participate in sport events at Uni. 
        My hobby is watching movies and listening to music.
      </p>
    </div>
  </div>
  <br><br><br>
{% endblock about %}

{% block skills %}
  <h2 class="text-center teks1" id="b">My Skills</h2>

  <br>

  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img src="{% static 'img/eaticon.png' %}" class="card-img-top gambarskill" >
        <div class="card-body cb1">
          <h4 class="card-title text-center judulskill">Eat</h4>
          <br>
          <p class="card-text text-center kontenskill">
            Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae 
            legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos cu 
            eum an brute copiosae hendrerit.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img src="{% static 'img/codingicon.png' %}" class="card-img-top gambarskill">
        <div class="card-body cb1">
          <h4 class="card-title text-center judulskill">Coding</h4>
          <br>
          <p class="card-text text-center kontenskill">
            Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae 
            legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos cu 
            eum an brute copiosae hendrerit.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" >
        <img src="{% static 'img/designicon.png' %}" class="card-img-top gambarskill" alt="">
        <div class="card-body cb1">
          <h4 class="card-title text-center judulskill">Design</h4>
          <br>
          <p class="card-text text-center kontenskill">
            Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae 
            legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos cu 
            eum an brute copiosae hendrerit.
          </p>
        </div>
      </div>
    </div>
  </div>

  <br><br><br>
  {% endblock skills %}

  {% block experience %}
  <h2 class="text-center teks1" id="c">Experience</h2>

  <br>

  <div class="row">
    <div class="container j4">

      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header text-center judulskill">
              Computers Get Together 2019
            </div>
            <div class="card-body text-center">
              <img src="{% static 'img/cegete.JPG' %}" class="cgt">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header text-center judulskill">
              Compfest 11
            </div>
            <div class="card-body text-center">
              <img src="{% static 'img/timbul.jpg' %}" class="cgt">
            </div>
          </div>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header text-center judulskill">
              PMB 2019
            </div>
            <div class="card-body text-center">
              <img src="{% static 'img/mentorpmb.jpg' %}" class="cgt">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header text-center judulskill">
              Olimpiade UI 2018
            </div>
            <div class="card-body text-center">
              <img src="{% static 'img/olim.jpg' %}" class="cgt">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <br><br><br><br>
  {% endblock experience %}

  {% block contact %}
  <div class="row">
    <div class="container text-center">
      <p class="kontak">Contact me at:</p>
      <br>
      <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=michael.eliazer@gmail.com&su=SUBJECT&body=BODY&tf=1" target="blank"><img src="{% static 'img/gmail.png' %}" class="icon1"></a>
      <a href="http://line.me/ti/p/~mekel." target="blank"><img src="{% static 'img/line.png' %}" class="icon3"></a>
      <a href="https://api.whatsapp.com/send?phone=62895322454427&text=what's%20up?" target="blank"><img src="{% static 'img/whatsapp.png' %}" class="icon2"></a>
      <a href="https://www.instagram.com/michaeleliazer/?hl=en" target="blank"><img src="{% static 'img/instagram.png' %}" class="icon3"></a>
    </div>
  </div>

  <br><br><br><br>
  {% endblock contact %}

