{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Third Story</title>

    {% include "snippets/style.html" %}
     
    {% block loadcss %}

    {% endblock loadcss %}
    
    

</head>

<body>

<nav class="navbar navbar-expand-sm navbg">
  <ul class="navbar-nav mr-auto">
    <a class="navbar-brand disabled mek">
      <img src="{% static 'img/lambangweb.png' %}" alt="logo" style="width:55px; margin-right: 5px;">
        MEK. 
    </a>
  </ul>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><img src="{% static 'img/buttondown.png' %}" class="down"></img></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    {% block itemnav %}

    {% endblock itemnav %}
  </div>
</nav>


{% block jumbotronwelcome %}

{% endblock jumbotronwelcome %}


<div class="container-fluid text-center" id="a">

    {% block about %}

    {% endblock about %}

    {% block skills %}

    {% endblock skills %}

    {% block experience %}

    {% endblock experience %}

    {% block profil %}

    {% endblock profil %}
    
    {% block bio %}

    {% endblock bio %}
    
    {% block galeri %}

    {% endblock galeri %}

    {% block poster %}

    {% endblock poster %}

    {% block arrowdown %}

    {% endblock arrowdown %}

    {% block description %}

    {% endblock description %}
    
    {% block contact %}

    {% endblock contact %}

    {% block footer %}

    {% endblock footer %}
  
</div>

{% include "snippets/scripts.html" %}

</body>
</html>