{% extends "base.html" %}

{% load static %}

{% block loadcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tambahan.css' %}">
{% endblock loadcss %}

{% block itemnav %}
<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a class="nav-link" style="color:black" href="{% url 'homepage:home' %}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color:black" href="{% url 'homepage:profile' %}">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color:black" href="{% url 'homepage:story1' %}">Story 1</a>
  </li>
</ul>
{% endblock itemnav %}

