{% extends "base.html" %}

{% load static %}

{% block loadcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pagetwo.css' %}">
{% endblock loadcss %}

{% block itemnav %}
<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a class="nav-link" style="color:black" href="{% url 'homepage:home' %}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color:black" href="#d">Gallery</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color:black" href="{% url 'homepage:tambahan' %}">Future</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color:black" href="{% url 'homepage:story1' %}">Story 1</a>
  </li>
</ul>
{% endblock itemnav %}

{% block profil %}
<div class="row">
  <br><br><br><br>
</div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <img src="{% static 'img/mekel2.png' %}">  
  </div>
  <div class="col-md-4"></div>
</div>

<div class="row">
  <br>
</div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <p class="teks1">ini profil ku:)</p>
  </div>
  <div class="col-md-4"></div>
</div>

<div class="row">
  <br><br><br><br><br>
</div>
{% endblock profil %}


{% block bio %}
<div class="row">
  <div class="col-lg"></div>
  <div class="col-lg-4">
    <div class="card c1" >
      <div class="card-body">
          <p class="teks2">Cerita singkat</p>
      </div>
      <div class="card-body">
        <p class="teks3">Halo nama saya Michael Eliazer, 
          saya sedang mempelajari cara membuat suatu website, 
          Jadi website ini masih dalam tahap perkembangan. 
          Mohon bersabar untuk versi lebih lanjutnya hehe :v</p>
    </div>
    </div>
  </div>
  <div class="col-lg"></div>
  <div class="col-lg-4">
    <div class="card c1">
      <div class="card-body">
          <p class="teks2">Biodata</p>
      </div>
      <div class="card-body cb1">
        <p class="teks4"><b>Nama</b> : Michael Eliazer Intan<br>
          <b>Alamat</b> : Jalan Haji Amat No 3<br>
          <b>Tanggal Lahir</b> : 11 Sept 2000<br>
          <b>Hobi</b> : Olahraga & mendengarkan musik<br>
          <b>NPM</b> : 1806191124<br>
          <b>Pendidikan</b> : <br>
          * SDK Sang Timur<br>
          * SD Saint Caroline<br>
          * SMAK 3 PENABUR<br>
          * Universitas Indonesia
          </p>
    </div>
    </div>
  </div>
  <div class="col-lg"></div>
</div>

<div class="row">
  <br><br><br><br><br><br><br>
</div>
{% endblock bio %}

{% block galeri %}
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <p class="teks5" id="d">Galeri Foto</p>
  </div>
  <div class="col-md-4"></div>
</div>

<div class="row">
  <br><br><br><br><br>
</div>

<div class="row">
  <div class="col-lg"></div>
  <div class="col-lg-5">
    <img src="{% static 'img/Group1.png' %}">
    <br><br><br>
  </div>
  <div class="col-lg-5">
    <img src="{% static 'img/group2.png' %}">
    <br><br><br><br>
  </div>
  <div class="col-lg"></div>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-5">
    <img src="{% static 'img/pict5.png' %}">
  </div>
  <div class="col-md-3"></div>
</div>

<div class="row">
  <br><br><br>
</div>

<div class="row">
  <div class="col-lg"></div>
  <div class="col-lg-5">
    <img src="{% static 'img/pict6.png' %}">
    <br><br><br>
  </div>
  <div class="col-lg-5">
    <img src="{% static 'img/pict7.png' %}">
    <br><br><br>
  </div>
  <div class="col-lg"></div>
</div>

<div class="row">
  <br><br><br><br><br><br><br>
</div>
{% endblock galeri %}
