{% extends "base.html" %}

{% load static %}

{% block loadcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/stylePALF1.css' %}">
{% endblock loadcss %}


{% block itemnav %}
<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a class="nav-link" style="color:black" href="{% url 'homepage:home' %}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color:black" href="{% url 'homepage:profile' %}">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color:black" href="{% url 'homepage:tambahan' %}">Future</a>
  </li>
</ul>
{% endblock itemnav %}


{% block poster %}
<div class="row">
    <div class="container">
        <div class="jumbotron j1">
            <img src="{% static 'img/Group 5.png' %}" class="poster">
            <div class="nameposter">MICHAEL ELIAZER</div>
            <div class="price">999,000,000,000,000,000</div>
        </div>    
    </div>  
</div>
<div class="row">
    <br>
</div>
{% endblock poster %}

{% block arrowdown %}
<div class="row">
    <div class="container">
        <div class="jumbotron j1">
            <div class="teks2">Looking for someone with..</div>
            <br>
            <div><img src="{% static 'img/arrow_down.png' %}" class="arrow"></div>
        
            <div><img src="{% static 'img/arrow_down.png' %}" class="arrow"></div>

            <div><img src="{% static 'img/arrow_down.png' %}" class="arrow"></div>
        </div>
    </div>
</div>


<div class="row">
    <br><br>
</div>
{% endblock arrowdown %}

{% block description %}
<div class="row">
    <div class="container">
        <div class="jumbotron j2">
            <div class="container c1">
                <div class="row">
                    <div class="col-5">
                        <img src="{% static 'img/monoposter.jpg' %}" class="mono">
                    </div>
                    <div class="col-7">
                        <h2 class="display-6 teks1">Profile</h2>
                        <hr class="my-4">
                        <p class="teks3">Name : Michael Eliazer</p>
                        <p class="teks3">NPM : 1806191124</p>
                        <p class="teks3">Education : SI UI 2018</p>
                        <p class="teks3">Hobby : Watching Movies, Listening Music, Playing Video Games</p>
                        <p class="teks3">Description : My nickname is Mike. I'm a cheerful and easy going person. But sometimes, I can be temperamental and moody.</p>    
                    </div>        
                </div>    
            </div>
            
            <br><br><br>  
            
            <div class="row">
                <div class="container midel">
                    <p class="teks1">Educational History</p>
                    <br>
                    <table style="width: 100%;">
                        <tr class="teks3">
                            <th>Place</th>
                            <th>Grade</th> 
                            <th>Year</th>
                        </tr>
                        <tr class="teks4">
                            <td>Sang Timur</td>
                            <td>Primary School</td>
                            <td>2006 - 2008</td>
                        </tr>
                        <tr class="teks4">
                            <td>Saint Caroline</td>
                            <td>Primary School</td>
                            <td>2008 - 2012</td>
                        </tr>
                        <tr class="teks4">
                            <td>Van Lith</td>
                            <td>Junior High School</td>
                            <td>2012 - 2015</td>
                        </tr>
                        <tr class="teks4">
                            <td>PENABUR 3 JAKARTA</td>
                            <td>High School</td>
                            <td>2015 - 2018</td>
                        </tr>
                        <tr class="teks4">
                            <td>Universitas Indonesia</td>
                            <td>College</td>
                            <td>2018 - Now</td>
                        </tr>
                        </table>
                </div>
            </div>
        </div>        
    </div>
</div>

<div class="row">
    <br><br><br><br>
</div>
{% endblock description %}


{% block footer %}
<div class="footer">
<div class="row">
    <div class="col-7 teks5"> Copyright @ 2020 Mike</div>
    <div class="col-5 kanan">
        <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=michael.eliazer@gmail.com&su=SUBJECT&body=BODY&tf=1" target="blank"><img src="{% static 'img/gmail1.png' %}" class="icon1"></a>
        <a href="http://line.me/ti/p/~mekel." target="blank"><img src="{% static 'img/line1.png' %}" class="icon3"></a>
        <a href="https://api.whatsapp.com/send?phone=62895322454427&text=what's%20up?" target="blank"><img src="{% static 'img/whatsapp1.png' %}" class="icon2"></a>
        <a href="https://www.instagram.com/michaeleliazer/?hl=en" target="blank"><img src="{% static 'img/instagram1.png' %}" class="icon3"></a>
    </div>
</div>
</div>
{% endblock footer %}